.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 125px;
  background-color: bisque;
  color: black;
}
