.mymodal {
    position: absolute;
    left: 40%;
    z-index: 1000;
    display: block;
    border: 0;
    background-color: #e9ecef;
    min-width: 10%;
    min-height: 150px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px #423E37, 2px 2px 0px 0px #423E37, 3px 3px 0px 0px #423E37, 4px 4px 0px 0px #423E37, 5px 5px 0px 0px #423E37;
}

.mymodaltitle {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Gill Sans", sans-serif;
    padding: 0.35em 0.5em 0.3em 0.45em;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #ced4da;
    font-weight: 600;
}

.mymodalbody {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    padding: 0.35em 0.5em 0.3em 0.45em;
}

.btn-mymodalbutton {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    transition: 200ms;
    width: fit-content;
    min-width: 10%;
    height: fit-content;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1.7px solid #423E37;
    padding: 0.25em 0.5em;
}